<footer>
  <div class="footer-content" data-aos="fade-up">
    <div class="footer-links">
      <a href="index.html#about">About</a>
      <a href="index.html#services">Services</a>
      <a href="index.html#resources">Resources</a>
      <a href="index.html#contact">Contact</a>
      <a href="index.html#team">Team</a>
    </div>
    <p>
      An unofficial expert system for Anti-Money Laundering in compliance for CS
      Elective 3 - Artificial Intelligence.
    </p>
    <br />
    <p>&copy; 2025 AML Expert System. All rights reserved.</p>
  </div>
</footer>
